backend/__pycache__
backend/tests/__pycache__
backend/test.py
dispatcher/target
redis/dump.rdb
worker_rust/target
worker_rust/.venv
worker_rust/target
worker_rust/.ven
worker_rust/target
worker_rust/target
pipeline/terraform/.terraform/providers/registry.terraform.io/hashicorp
pipeline/terraform/.terraform.lock.hcl
pipeline/terraform/terraform.tfstate
pipeline/terraform/terraform.tfstate.backup
